<!doctype html>
<html ng-app="ticTacToe">
<head>
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-controller="MainController">
<div>
  <h1>Tic Tac Toe</h1>
  <h2>Current Player {{ currentPlayer }}</h2>
</div>
<div class="board">
  <div class="row"><div ng-click="attemptMove(1)">{{marks[1]}}</div><div ng-click="attemptMove(2)">{{marks[2]}}</div><div ng-click="attemptMove(3)">{{marks[3]}}</div></div>
  <div class="row"><div ng-click="attemptMove(4)">{{marks[4]}}</div><div ng-click="attemptMove(5)">{{marks[5]}}</div><div ng-click="attemptMove(6)">{{marks[6]}}</div></div>
  <div class="row"><div ng-click="attemptMove(7)">{{marks[7]}}</div><div ng-click="attemptMove(8)">{{marks[8]}}</div><div ng-click="attemptMove(9)">{{marks[9]}}</div></div>
</div>
<script src="ticTacToe.js"></script>
</body>
</html>