.board {
  width: 612px;
  height: 612px;
}

.row div {
  text-align: center;
  font-size: 170px;
  border: 2px solid black;
  float: left;
  width: 200px;
  height: 200px
}

#winner {
  position: absolute;
  top: 10px;
  left: 400px;
}
